@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

#portifolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#portifolio > section {
    width: 95%;
}
#portifolio > section:not(:first-child) > article {
    min-height: 35rem;
    max-height: 100%;
}
#portifolio > section > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#portifolio > section > article > header {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
    z-index: 10;
}
#portifolio > section > article > center > p {
    margin: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: black;
}
#portifolio > section > article > center > ul {
    min-height: 18rem;
    margin: 1rem;
    border-radius: .3rem;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(1rem);
}
#backend {
    background-image: url('./../assets/image/java.png');
}
#frontend {
    background-image: url('./../assets/image/css3.png');
}
#portifolio > section > article > center > ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 0 1rem;
}
#portifolio {
    section {
        article {
            center > ul > li > p, center > ul > p  {
                color: black;
                margin: 0%;
            }
            ul > li > img {
                height: 2rem;
                padding: .25rem;
            }
        }
        article > center {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}

#portifolio > :first-child {
    height: 10rem;
    article {
        h1, h3 {
            margin: 0%;
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            color: black;
        }
        h1 {
            padding: 0%;
            font-size: 2rem;
        }
        h3 {
            font-size: 1rem;
            letter-spacing: .25rem;
        }
    }
}

#portifolio> :nth-child(odd) {
    background-color: white;
}

#parallax-one {
    background-image: url('./../assets/image/particules.jpg');
}

#parallax-two {
    background-image: url('./../assets/image/mirante.jpg');
}

#parallax-three {
    background-image: url('./../assets/image/maranhao.jpg');
}