@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

#portifolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#portifolio > section {
    height: 40rem;
    width: 80%;
}
#portifolio > section > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#portifolio > section > article > header {
    margin: 0%;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
}
#portifolio > section > article > p {
    margin: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: black;
}
#portifolio > section > article > p > ul > li {
    display: flex;
    justify-content: start;
    align-items: center;
}
#portifolio {
    section {
        article {
            ul > li > p {
                margin: 0%;
            }
            ul > li > img {
                height: 2rem;
                padding: .25rem;
            }
        }
    }
}

#portifolio > :first-child {
    height: 10rem;
    article {
        h1, h3 {
            margin: 0%;
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            color: black;
        }
        h1 {
            padding: 0%;
            font-size: 2rem;
        }
        h3 {
            font-size: 1rem;
            letter-spacing: .25rem;
        }
    }
}

#portifolio> :nth-child(odd) {
    background-color: white;
}

/* #portifolio :first-child {
    height: 10rem;
    background-color: white;
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        color: black;
        margin: 0;
    }
} */

/* #portifolio :nth-child(1) {
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        color: black;
        margin: 0;
    }
} */

/* #portifolio p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
} */

/* .first-character {
    font-weight: 400;
    float: left;
    font-size: 84px;
    line-height: 64px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: 'Source Sans Pro', sans-serif;
} */

/* .sc {
    color: #3b8595;
}

.ny {
    color: #3d3c3a;
}

.atw {
    color: #c48660;
} */

/* #portifolio .block {
    background: white;
    padding: 60px;
    width: 80%;
    color: black;
    margin: 0%;
    text-align: justify;
} */

/* section>article>header {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    letter-spacing: 10px;
    text-align: center;
    font-weight: 400;
    color: red;
    text-transform: uppercase;
    z-index: 10;
    opacity: .9;
} */

/* article :nth-child(1) {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 0;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: black;
} */

/* article :nth-child(2) {
    font-size: 2rem;
    letter-spacing: 8px;
} */

#parallax-one {
    margin: 0%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('./../assets/image/particules.jpg');
}

#parallax-two {
    background-image: url('./../assets/image/mirante.jpg');
}

#parallax-three {
    background-image: url('./../assets/image/maranhao.jpg');
}

/* #line-break {
    border-bottom: .1rem solid black;
    margin: 0 auto;
} */