.hide {
    opacity: 0;
    filter: blur(1rem);
    transition: all 1s;
    transform: perspective(1000px) translateX(-100%) translateZ(-5px);    
}
.show {
    opacity: 1;
    filter: blur(0rem);
    transition: all 1s;
    transform: perspective(0px) translateX(0%) translateZ(0px);
}
.project > center {
    opacity: 0;
    transition: all ease-in-out .25s;
}
.project:hover {
    header {
        display: none;
    }
    legend {
        display: block;
    }
    center {
        height: 100%;
        align-content: center;
        opacity: 1;
        backdrop-filter: brightness(25%);
        border-radius: .3rem;
        transition: all ease-in-out .25s;
    }
}
.project > center > p {
    margin: 1rem;
    padding: .5rem;
    color: white;
    backdrop-filter: blur(0rem);
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .5rem;
    padding: 0%;
    height: 16rem;
    width: 16rem;
    border-radius: .5rem;
    backdrop-filter: blur(1rem);
    box-shadow: 0px 13px 28px 0px rgba(0,0,0,0.79);
    border-color: white;
}
.project > legend {
    display: none;
    position: relative;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 0%;
    align-items: center;
    z-index: 4;
    color: white;
}
.project > figure {
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
    img {
        height: 100%;
        width: 100%;
        border-radius: .3rem;
        object-fit: cover;
    }
}
.project>header {
    margin: 1rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: .5rem;
    backdrop-filter: blur(1rem);
    figure {
        margin: 0%;
        padding: .25rem;

        img {
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}
.project > footer {
    display: flex;
    justify-content: center;
    header {
        position: absolute;
        bottom: 1rem;
        backdrop-filter: blur(.2rem);
        font-style: italic;
    }
}
.project > center > a > img {
    position: relative;
    padding: .1rem;
    height: 2rem;
    width: 2rem;
}
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
}